{% extends 'base.html' %}

{% block title %} Add Book {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="card p-3 shadow-lg" style="width: 500px; max-width: 90%;">
        <h1 class="text-center">Add Book</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success">Add</button>
                <a href="{% url 'book_list' %}" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
