{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 400px;">
        <h1 class="text-center">Login</h1>
        <form method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success">Login</button>
                <a href="{% url 'book_list' %}" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
