{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Change Password {% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg p-4 border-0 rounded" style="width: 380px;">
        <h2 class="text-center text-primary">Change Password</h2>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="d-grid gap-2 mt-3">
                <button type="submit" class="btn btn-success">Change</button>
                <a href="{% url 'core:book_list' %}" class="btn btn-outline-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
