{% extends 'base.html' %}

{% block title %} {{ book.title }} - Book Detail {% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm border-0 p-4">
            <div class="card-body">
                <h2 class="card-title text-primary mb-3">{{ book.title }}</h2>

                <hr class="mb-4">

                <p class="card-text mb-2"><strong>📖 Author:</strong> {{ book.author }}</p>
                <p class="card-text mb-2"><strong>📚 Category:</strong> {{ book.category.name }}</p>
                <p class="card-text mb-2"><strong>🎭 Genre:</strong> {{ book.genre }}</p>
                <p class="card-text mb-3"><strong>📅 Published Year:</strong> {{ book.published_year }}</p>

                <div class="mt-4 text-start">
                    <h5 class="text-secondary">📜 Description:</h5>
                    <p class="mt-2">{{ book.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 d-flex justify-content-center">
    <div class="d-flex w-40 justify-content-center gap-4">
        <a href="{% url 'book_list' %}" class="btn btn-outline-primary px-4 py-2">
            <i class="bi bi-arrow-left"></i> Back to List
        </a>
        <a href="{% url 'update_book' book.pk %}" class="btn btn-outline-warning">
            ✏️ Edit Book
        </a>
        {% if perms.core.delete_book %}
            <a href="{% url 'delete_book' book.pk %}" class="btn btn-outline-danger px-4 py-2">
                <i class="bi bi-trash"></i> Delete
            </a>
        {% endif %}
    </div>
</div>



{% endblock %}
